<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>daysView</title>
    <script src="/demo/node_modules/angular/angular.js"></script>
    <script src="/demo/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/demo/app/mainApp.js"></script>
    <script src="daysController.js"></script>
</head>
<body ng-app="mainApp">
<div ng-controller="daysController">
    <table>
        <tr>
            <th>CRUD</th>
            <th>TEST</th>
        </tr>
        <tr>
            <td><b>C</b>reate</td>
            <td>
                <table>
                    <tr>
                        <td>Date:</td>
                        <td>
                            <input type="text" ng-model="daysController.toCreate.Date"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Doctor Id:</td>
                        <td>
                            <input type="text" ng-model="daysController.toCreate.DoctorId"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="daysController.save()">Create Doctor</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td><b>R</b>ead</td>
            <td>
                <table>
                    <tr>
                        <td>Id:</td>
                        <td>
                            <input type="number" ng-model="daysController.dayId"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="daysController.get()">Load Day</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td>{{daysController.day.Date}}</td>
                    </tr>
                    <tr>
                        <td>Doctor Id:</td>
                        <td>{{daysController.day.DoctorId}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td><b>U</b>pdate</td>
            <td>
                <table>
                    <tr>
                        <td>Id:</td>
                        <td>
                            <input type="number" ng-model="daysController.toUpdate.id"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td>
                            <input type="text" ng-model="daysController.toUpdate.Date"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Doctor Id:</td>
                        <td>
                            <input type="text" ng-model="daysController.toUpdate.DoctorId"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="daysController.update()">Update Doctor</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td><b>D</b>elete</td>
            <td>
                <table>
                    <tr>
                        <td>Id:</td>
                        <td>
                            <input type="number" ng-model="daysController.toDelete.id"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="daysController.delete()">Delete Day</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td>All</td>
            <td>
                <table>
                    <tr>
                        <td colspan="2">
                            <button ng-click="daysController.query()">Get All</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>DoctorId</th>
                                </tr>
                                <tr ng-repeat="day in daysController.days">
                                    <td>{{ day.Id }}</td>
                                    <td>{{ day.Date }}</td>
                                    <td>{{ day.DoctorId }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td>By Doctor Id</td>
            <td>
                <table>
                    <tr>
                        <td>Doctor Id</td>
                        <td>
                            <input type="number" ng-model="daysController.searchByDoctorId" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="daysController.getByDoctorId()">Get By Doctor Id</button>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>DoctorId</th>
                                </tr>
                                <tr ng-repeat="day in daysController.searchResult">
                                    <td>{{ day.Id }}</td>
                                    <td>{{ day.Date }}</td>
                                    <td>{{ day.DoctorId }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
    </table>
</div>
</body>
</html>