<!doctype html>
<html>
<head>
    <script src="~/content/app/assets/libs/angularjs/angular.js"></script>
    <script src="~/content/app/assets/libs/angularjs/angular-resource.js"></script>
    <script src="~/content/app/mainApp.js"></script>
    <script src="~/content/app/doctorSlotsController.js"></script>
</head>
<body ng-app="mainApp">
    <div ng-controller="doctorSlotsController">
        <table>
            <tr>
                <th>CRUD</th>
                <th>TEST</th>
            </tr>
            <tr>
                <td colspan="2">None</td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td>Search</td>
                <td>
                    <table>
                        <tr>
                            <td>Doctor:</td>
                            <td>
                                <input type="number" ng-model="searchByDoctorId" />
                            </td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td>
                                <input type="text" ng-model="searchByDate" />
                            </td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>
                                <input type="text" ng-model="searchByStatus" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button ng-click="search()">Search</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <th>Id</th>
                                        <th>DayId</th>
                                        <th>EndDateTime</th>
                                        <th>StartDateTime</th>
                                        <th>Status</th>
                                    </tr>
                                    <tr ng-repeat="slot in searchResult">
                                        <td>{{ slot.Id }}</td>
                                        <td>{{ slot.DayId }}</td>
                                        <td>{{ slot.EndDateTime }}</td>
                                        <td>{{ slot.StartDateTime }}</td>
                                        <td>{{ slot.Status }}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>