@Master['layout']

@Section['Content']
<h1>Test Pages</h1>
<h2>See project 'DemoSelfHosting' for unit tests!</h2>
<h2>Goto this 'index' page in browser: http://localhost:55881/ </h2>
<ul>
    <li>
        <a href="/test/doctors">Doctors</a>
    </li>
    <li>
        <a href="/test/slots">Slots</a>
    </li>
    <li>
        <a href="/test/days">Days</a>
    </li>
    <li>
        <a href="/test/doctorSlots">DoctorSlots</a>
    </li>
    <li>
        <a href="/test/booking">Booking</a>
    </li>
</ul>
@EndSection