<!doctype html>
<html>
<head>
    <script src="~/content/app/assets/libs/angularjs/angular.js"></script>
    <script src="~/content/app/assets/libs/angularjs/angular-resource.js"></script>
    <script src="~/content/app/mainApp.js"></script>
    <script src="~/content/app/slotsController.js"></script>
</head>
<body ng-app="mainApp">
<div ng-controller="slotsController">
    <table>
        <tr>
            <th>CRUD</th>
            <th>TEST</th>
        </tr>
        <tr>
            <td><b>C</b>reate</td>
            <td>
                <table>
                    <tr>
                        <td>Start Datetime:</td>
                        <td>
                            <input type="datetime" ng-model="toCreate.StartDateTime"/>
                        </td>
                    </tr>
                    <tr>
                        <td>End Datetime:</td>
                        <td>
                            <input type="datetime" ng-model="toCreate.EndDateTime"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>
                            <input type="number" ng-model="toCreate.Status"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Day Id:</td>
                        <td>
                            <input type="number" ng-model="toCreate.DayId" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="save()">Create Slot</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td><b>R</b>ead</td>
            <td>
                <table>
                    <tr>
                        <td>Id:</td>
                        <td>
                            <input type="number" ng-model="slotId"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="get()">Load Slot</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Start Datetime:</td>
                        <td>{{slot.StartDateTime | date:'dd MMM yyyy HH:mm:ss' }}</td>
                    </tr>
                    <tr>
                        <td>End Datetime:</td>
                        <td>{{slot.EndDateTime | date:'dd MMM yyyy HH:mm:ss' }}</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>{{slot.Status}}</td>
                    </tr>
                    <tr>
                        <td>Day Id:</td>
                        <td>{{slot.DayId}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td><b>U</b>pdate</td>
            <td>
                <table>
                    <tr>
                        <td>Id:</td>
                        <td>
                            <input type="number" ng-model="toUpdate.id"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Start Datetime:</td>
                        <td>
                            <input type="datetime" ng-model="toUpdate.StartDateTime"/>
                        </td>
                    </tr>
                    <tr>
                        <td>End Datetime:</td>
                        <td>
                            <input type="datetime" ng-model="toUpdate.EndDateTime"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td>
                            <input type="number" ng-model="toUpdate.Status"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Day Id:</td>
                        <td>
                            <input type="number" ng-model="toUpdate.DayId" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="update()">Update Slot</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td><b>D</b>elete</td>
            <td>
                <table>
                    <tr>
                        <td>Id:</td>
                        <td>
                            <input type="number" ng-model="toDelete.id"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="delete()">Delete Slot</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr/>
            </td>
        </tr>
        <tr>
            <td>All</td>
            <td>
                <table>
                    <tr>
                        <td colspan="2">
                            <button ng-click="query()">Get All</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <th>Id</th>
                                    <th>StartDateTime</th>
                                    <th>EndDateTime</th>
                                    <th>Status</th>
                                </tr>
                                <tr ng-repeat="slot in slots">
                                    <td>{{ slot.Id }}</td>
                                    <td>{{ slot.StartDateTime | date:'dd MMM yyyy HH:mm:ss' }}</td>
                                    <td>{{ slot.EndDateTime | date:'dd MMM yyyy HH:mm:ss' }}</td>
                                    <td>{{ slot.Status }}</td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>